html, body{
  font-family: Helvetica; 
}

/*  LOGIN PAGE  */
#loginForm {
  background: #fafafa;
}
#loginForm #loginFormHeader h4{
  padding: 35px 30px 10px 10px;
  margin-top: 0px;
  font-weight: normal;
  font-family: Arial;
  color: #787878;
  float: left;
}

#loginForm #loginFormHeader img{
  padding: 20px 0px 0px 30px;
  float: left;
}

#loginForm #loginFormContent{
  padding: 130px 5vw;
}

#signUpForm{
  padding: 120px 80px;
  background: rgb(50,168,162);
  background: linear-gradient(217deg, rgba(50,168,162,1) 37%, rgba(110,212,177,1) 96%);
}

#loginWrapper{
  display: grid;
  grid-template-columns: 1.5fr 1fr; 
  width: 100vw;
  height: 100vh;
}

#signIn,
#createAccount{
  padding: 12px 70px;
  border-radius: 20px;
  outline: none;
}

#loginWrapper h3{
  font-family: Helvetica;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #32a8a2;
}

#loginForm #signIn{
  background: #32a8a2;
  color: white;
  border: solid 2px #32a8a2;
  margin: 30px 10px 10px 17vw;
  cursor: pointer;

}

#loginForm #signIn:hover{
  background: white;
  color: #32a8a2;
 
}

#loginForm input[type='text']{
  border: none;
  background: #fafafa;
  outline: none;
  border-bottom: 2px solid #e8e8e8;

  padding: 15px 10px 15px 10px;
  margin: 20px 10px 10px 8vw;
  width: 30vw;
  color: #8c8c8c;

}

#signUpForm h3{
  color: white;
  /* margin-bottom: 20px;
  margin-right: 0px; */
  padding: 0px 0 0px 3%;
  margin: 50px 30px;
}

#signUpForm hr{
  margin: 0px;
  padding: 0px;
  border: 0.75px solid white;
}

#signUpForm p{
  color: white;
  font-weight: lighter;
  margin-bottom: 75px;
  padding: 30px 8% 0px 8%;
  text-align: left;
  line-height:1.5;
}


#signUpForm #createAccount{
  background: white;
  color: #32a8a2;
  border: solid 2px white;
  margin: 0px 10px 10px 6vw;
  cursor: pointer;

}

#signUpForm #createAccount:hover{
  background: #32a8a2;
  color: white;
}

/*  BOOK LIST PAGE  */
.modal {
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    position: relative; 
    background-color: white;
    padding: 20px; 
    margin:  0 auto; 
    width: 40%;  
    height: 60%;
  }
  .close-btn {
    float: right; 
    color: lightgray; 
    font-size: 24px;  
    font-weight: bold;
  }
  .close-btn:hover {
    color: darkgray;
  }
